/* BASIC STYLES HERE */
.my-header {
  min-height: 8vh;
  align-items: center;
}

.my-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

.my-card:hover {
  transform: scale(1.02);
  transition: all .2s ease-in-out
}

.my-score {
  position: fixed;
  bottom: 40px;
  width: 100%
}